<c-card class="mb-4">
  <c-card-header class="d-flex justify-content-between align-items-center py-4">
      <strong> {{clientFileId? 'تعديل توب' : 'اضافة توب'}} </strong>
      <button class="btn btn-success" (click)="addTop()">
          {{clientFileId? 'تعديل' : 'إضافة'}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
          </svg>
      </button>
      <button class="btn btn-success" routerLink="/top">رجوع</button>

  </c-card-header>
</c-card>
<c-card class="mb-4 py-4">
  <form [formGroup]="clientForm">
    <c-col class="mx-2 my-4" >
      <div class="card">
          <div class="card-header m-0">
              <h5>الزبون</h5>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-4">
                      <label>الزبون</label>
                      <ng-select [items]="allClients"
                                 bindLabel="clientName"
                                 bindValue="clientId"
                                 placeholder="اختر الزبون"
                                 formControlName="clientId"
                                 (ngModelChange)="getClientInfo($event)">
                      </ng-select>
                  </div>
                  <div class="col-4">
                    <label>رقم الجوال</label>
                    <input readonly aria-label="default input example" cFormControl
                           formControlName="phoneNumber" type="tel"/>
                  </div>
                  <!-- <div class="col-4">
                    <label>تاريخ الانتاج</label>
                    <input aria-label="default input example" cFormControl
                           formControlName="contractDate" type="date"/>
                  </div> -->
                  <div class="col-12 mt-2">
                    <label>العنوان</label>
                    <textarea readonly aria-label="default input example" cFormControl
                              formControlName="clientAdress" rows="3">
                    </textarea>
                  </div>
              </div>
          </div>
      </div>
  </c-col>
  </form>
  <form [formGroup]="AddTopForm">
    <c-col class="mx-2 my-4" >
      <div class="card">

          <div class="card-body">
              <div class="row">
                <div class="col-4" >
                  <label>ملف طلب الانتاج</label>
                  <ng-select [items]="allClientFileNO"
                             bindLabel="userName"
                             bindValue="id"
                             placeholder="اختر ملف طلب الانتاج"
                             formControlName="FileNo"
                             (ngModelChange)="GetClientFileId($event)"
                             >
                  </ng-select>
              </div>
              <div class="col-4">
                <label>الجرانيت</label>
                <ng-select [items]="allTopLists?.type?.statuses"
                           bindLabel="defaultDesc"
                           bindValue="statusId"
                           formControlName="TypeId"
                           >
                </ng-select>
            </div>
            <div class="col-4">
              <label>لون التوب</label>
              <ng-select [items]="allTopLists?.topColor?.statuses"
                         bindLabel="defaultDesc"
                         bindValue="statusId"
                         formControlName="TopColor"
                         >
              </ng-select>
          </div>
          <div class="col-4">
            <label>البانيل</label>
            <ng-select [items]="allTopLists?.panelType?.statuses"
                       bindLabel="defaultDesc"
                       bindValue="statusId"
                       formControlName="PanelTypeId"
                       >
            </ng-select>
        </div>
        <div class="col-4">
          <label>سماكة التوب</label>
          <ng-select [items]="allTopLists?.topHieght?.statuses"
                     bindLabel="defaultDesc"
                     bindValue="statusId"
                     formControlName="TopHieght"
                     >
          </ng-select>
      </div>
      <div class="col-4">
        <label>حفرة المجلي</label>
        <ng-select [items]="allTopLists?.sinkHole?.statuses"
                   bindLabel="defaultDesc"
                   bindValue="statusId"
                   formControlName="SinkHoleId"
                   >
        </ng-select>
    </div>
              </div>
          </div>
      </div>
    </c-col>
  </form>
</c-card>
<c-card class="mb-4 py-4" *ngIf="detailId" >
  <c-col class="mx-2 my-4" >
    <div class="card">
        <div class="card-header m-0 d-flex justify-content-between align-items-center py-4">
            <h5>الأجهزه</h5>
            <button class="btn btn-success" [disabled]="!deviceForm.valid" (click)="addDevice()">
              حفظ
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                  viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                      d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
              </svg>
          </button>
        </div>
        <form [formGroup]="deviceForm">
           <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label>الطول</label>
                <input aria-label="default input example" cFormControl formControlName="Length"
                    type="number" />
            </div>
            <div class="col-4">
              <label>العرض</label>
              <input aria-label="default input example" cFormControl formControlName="Width"
                  type="number" />
          </div>
          <div class="col-4">
            <label>الارتفاع</label>
            <input aria-label="default input example" cFormControl formControlName="Height"
                type="number" />
        </div>
        <div class="col-8 mt-2">
          <label>الملاحظات</label>
          <textarea  aria-label="default input example" cFormControl
                    formControlName="Notes" rows="3">
          </textarea>
        </div>
        <div class="col-md-4 mt-3">
          <label> الصورة </label>
          <input type="file" accept="image/*" (change)="onImageSelected($event)"
                 class="form-control">
          <div class="d-flex justify-content-center" *ngIf="viewImg[0]">
            <div class="col-4 card-image p-0 m-2 position-relative">
              <img  height="100" class="p-0 w-100" title="images" alt="imagesEdit" [src]="viewImg[0]" />
            </div>
          </div>
        </div>
            </div>
          </div>
        </form>
    </div>
  </c-col>
  <c-col xs="12" *ngIf="AddedDevices.length!=0" >
    <c-card class="mb-4">
      <c-card-body>
        <table [striped]="true" cTable>
          <thead>
          <tr>
            <th scope="col">الطول</th>
            <th scope="col">العرض</th>
            <th scope="col">الارتفاع</th>
            <th scope="col">ملاحظات</th>
            <th scope="col">مرفقات</th>
            <th scope="col">حذف</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of AddedDevices let i = index" >
              <td>{{item?.length}}</td>
              <td>{{item?.width}}</td>
              <td>{{item?.height}}</td>
              <td>{{item?.notes}}</td>
              <td>
              <button (click)="Getimage(i)" [cModalToggle]="modalX1.id" class="btn btn-light m-0 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-arrow-up" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 11a.5.5 0 0 0 .5-.5V6.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 .5.5z"/>
                  <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                  <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                </svg>
              </button>
            </td>
              <td>
                <!-- [cModalToggle]="modalXl4.id" -->
              <button (click)="deleteDevice(i)"  class="btn btn-light m-0 p-2">
                <i class='bx bx-trash'></i>
              </button>
            </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-card>
<c-modal #modalX1 id="modalX1" size="xl">
  <c-modal-header>
    <h5>
      المرفقات
    </h5>
  </c-modal-header>
  <c-modal-content>
    <div class="d-flex justify-content-center align-content-center">
      <div class="col-8">
        <img alt="image" height="600" class="p-0 fit-600" [src]="ShowImage">
      </div>
    </div>
  </c-modal-content>
</c-modal>
