<c-card class="mb-4">
  <c-card-header class="d-flex justify-content-between align-items-center py-4">
    <strong>سندات القبض</strong>
    <button class="btn btn-success" (click)="AddClientPayment()">
      حفظ
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
      </svg>
  </button>
  <button class="btn btn-success" routerLink="/home">رجوع</button>

  </c-card-header>
</c-card>
<c-card class="mb-4 py-4">
  <form [formGroup]="clientForm">
    <c-col class="mx-2 my-4" >
      <div class="card">
          <div class="card-header m-0">
              <h5>الزبون</h5>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-3">
                      <label>الزبون</label>
                      <ng-select [items]="allClients"
                                 bindLabel="clientName"
                                 bindValue="clientId"
                                 placeholder="اختر الزبون"
                                 formControlName="clientId"
                                 (ngModelChange)="getpaymentClient()">

                      </ng-select>
                  </div>
                  <div class="col-3">
                    <label>الاجمالي</label>
                    <input readonly aria-label="default input example" cFormControl
                           formControlName="total" type="number"/>
                  </div>
                  <!-- <div class="col-4">
                    <label>تاريخ الانتاج</label>
                    <input aria-label="default input example" cFormControl
                           formControlName="contractDate" type="date"/>
                  </div> -->
                  <div class="col-3">
                    <label>المدفوع</label>
                    <input readonly aria-label="default input example" cFormControl
                    formControlName="paied" type="number"/>

                  </div>
                  <div class="col-3">
                    <label>المتبقي</label>
                    <input readonly aria-label="default input example" cFormControl
                    formControlName="remaining" type="number"/>

                  </div>
                  <div class="col-4">
                    <label>التاريخ</label>
                    <input aria-label="default input example" cFormControl
                           formControlName="paymentDate" type="date"/>
                  </div>
                  <!-- <div class="col-4">
                    <label>رقم المستند</label>
                    <input  aria-label="default input example" cFormControl
                    formControlName="noOfDoc" type="number"/>

                  </div> -->
                  <div class="col-4">
                    <label>المبلغ</label>
                    <input  aria-label="default input example" cFormControl
                    formControlName="amount" type="number"/>

                  </div>
                  <div class="col-12">
                    <label>ملاحظات</label>
                    <textarea  aria-label="default input example" cFormControl
                              formControlName="notes" rows="3">
                    </textarea>
                  </div>
                  <div class="col-4">
                    <label>طريقة الدفع</label>
                  <ng-select [items]="paymentType"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="اختر طريقةالدفع "
                  formControlName="paidTypeId"
                  (ngModelChange)="deterPaymentType()"
                  >

       </ng-select>
      </div>
      <div class="col-4">
        <label>المبيعات</label>
      <ng-select [items]="allUsers"
      bindLabel="userName"
      bindValue="id"
      placeholder=""
      formControlName="salesId">
</ng-select>
</div>
<div class="col-12 row" *ngIf="payType==1">
  <div class="col-4"  >
    <label>تاريخ الشيك</label>
    <input aria-label="default input example" cFormControl
           formControlName="checkDate" type="date"/>
  </div>
  <div class="col-4">
    <label>رقم الشيك</label>
    <input  aria-label="default input example" cFormControl
    formControlName="checkNo" type="number"/>

  </div>
  <div class="col-4">
    <label>الساحب</label>
    <input  aria-label="default input example" cFormControl
    formControlName="drawer" type="text"/>

  </div>
</div>
              </div>
          </div>
      </div>
  </c-col>
  </form>
</c-card>
<ng-template #successModal let-modal>
  <div class="modal-header d-flex justify-content-between">
    <div>
      <h5 class="modal-title">تم اضافة المستند</h5>
    </div>
    <div>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
  </div>
  <div class="modal-body">
    رقم المستند: {{ documentNumber }}
  </div>

</ng-template>
