<c-card class="mb-4">
    <c-card-header class="d-flex justify-content-between align-items-center py-4">
        <strong> اضافة العقود</strong>
        <button class="btn btn-success" (click)="addContract()">
            {{clientFileId? 'تعديل' : 'إضافة'}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
            </svg>
        </button>
        <button class="btn btn-success" routerLink="/contract">رجوع</button>

    </c-card-header>
</c-card>
<c-card class="mb-4 py-4">
    <form [formGroup]="AddClientFileForm">
<!--        <c-row class="p-2">-->
<!--            <c-col *ngFor="let type of clientFileTypes">-->
<!--                <c-form-check>-->
<!--                    <input [id]="type.id" [checked]="+fileTypeId === +type.id" cFormCheckInput-->
<!--                           formControlName="fileTypeId" type="radio" name="fileTypeId" value="{{type.id}}" />-->
<!--                    <label [for]="type.id" cFormCheckLabel>{{type.name}}</label>-->
<!--                </c-form-check>-->
<!--            </c-col>-->
<!--        </c-row>-->
      <c-row class="px-2">
        <div class="col-md-3 mb-3">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <h5>الزبون</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <label>الزبون</label>
                  <ng-select [items]="allClients"
                             bindLabel="clientName"
                             (change)="setClient($event)"
                             bindValue="clientId"
                             placeholder="اختر الزبون"
                             formControlName="clientId">
                  </ng-select>
                </div>
                <div class="col-12 mt-2">
<!--                <div class="col-12 mt-2" style="opacity: 50%; pointer-events: none">-->
                  <label>رقم الجوال</label>
                  <input readonly aria-label="default input example" cFormControl
                         formControlName="phoneNumber" type="tel"/>
                </div>
                <div class="col-12 mt-2">
                  <label>البريد</label>
                  <input readonly aria-label="default input example" cFormControl
                            formControlName="address">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 mb-3">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <h5>العقد</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <label>العقد كاملا</label>
                  <input aria-label="default input example" cFormControl
                         formControlName="allPrice" type="number"/>
                </div>
                <div class="col-4">
                  <label>تاريخ التركيب ف الأسبوع</label>
                  <ng-select [items]="weeks"
                             bindLabel="id"
                             bindValue="id"
                             placeholder="الاسبوع"
                             formControlName="startWeek">
                  </ng-select>
                </div>
                <div class="col-4">
                  <label>تاريخ التركيب ف الشهر</label>
                  <ng-select [items]="months"
                             bindLabel="id"
                             bindValue="id"
                             placeholder="اختر الشهر"
                             formControlName="startMonth">
                  </ng-select>
                </div>

                <div class="col-3">
                  <label>تاريخ العقد</label>
                  <input aria-label="default input example" cFormControl
                         formControlName="contractDate" type="date"/>
                </div>
                <div *ngIf="clientFileId"  class="col-3" style="opacity: 50%; pointer-events: none">
                  <label>رقم العقد</label>
                  <input aria-label="default input example" cFormControl
                         formControlName="contractStatusId" type="number" />
                </div>
                <div class="col-3">
                  <label>تاريخ الفاتورة</label>
                  <input aria-label="default input example" cFormControl
                         formControlName="invoiceDate" type="date"/>
                </div>
                <div class="col-3">
                  <c-col>
                    <c-form-check class="mt-4">
                      <input cFormCheckInput (change)="logChange()"
                             [(ngModel)]="checkValue" [ngModelOptions]="{standalone: true}" type="checkbox"/>
                      <label cFormCheckLabel>شامل الضريبة</label>
                    </c-form-check>
                  </c-col>
                </div>
                <div class="col-md-12 mb-3">
                  <label>الملاحظات</label>
                  <textarea formControlName="notes" id="" cols="30"
                            rows="3" class="form-control">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </c-row>
      <c-col class="mx-2 my-4" *ngIf="loadPriceOffer">
        <div class="card">
          <div class="card-header m-0">
            <h5>المطبخ</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <ng-container formArrayName="items">
                <ng-container *ngFor="let item of itemsFormArray.controls;let i = index">
                  <ng-container [formGroupName]="i">
                    <div class="col-md-4 mb-3" >
                      <label>{{loadPriceOfferList[i]?.defaultDesc}}</label>
                      <ng-select [items]="loadPriceOffer[loadPriceOfferList[i]?.key]?.statuses"
                                 bindLabel="description"
                                 bindValue="statusId"
                                 placeholder="{{loadPriceOfferList[i]?.defaultDesc}}"
                                 formControlName="itemId">
                      </ng-select>
                      <!--                          (change)="setPrice($event, i); getPrice(i)"-->
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </c-col>
    </form>

</c-card>
