<c-card class="mb-4">
  <c-card-header class="d-flex justify-content-between align-items-center py-4">
    <strong>طلبات الانتاج</strong>
    <button [disabled]="!query.fileTypeId"
      class="btn btn-success" routerLink="add">
      اضافة
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
      </svg>
    </button>
    <button class="btn btn-success" routerLink="/home">رجوع</button>

  </c-card-header>
</c-card>
<c-card class="mb-4 py-4">
  <c-row class="p-2">
    <!-- <c-col>
      <c-form-check>
        <input cFormCheckInput  (click)="filter($event.target)" type="radio" name="fileTypeId" value="null" />
        <label cFormCheckLabel>الكل</label>
      </c-form-check>
    </c-col> -->
    <c-col>
      <c-form-check>
        <input cFormCheckInput [checked]="true" (click)="filter($event.target)" type="radio" name="fileTypeId" value="1" />
        <label cFormCheckLabel>المطابخ</label>
      </c-form-check>
    </c-col>
    <!-- <c-col>
      <c-form-check>
        <input cFormCheckInput (click)="filter($event.target)" type="radio" name="fileTypeId" value="2" />
        <label cFormCheckLabel>الابواب</label>
      </c-form-check>
    </c-col>
    <c-col>
      <c-form-check>
        <input cFormCheckInput (click)="filter($event.target)" type="radio" name="fileTypeId" value="4" />
        <label cFormCheckLabel>خزائن الحائط</label>
      </c-form-check>
    </c-col>
    <c-col>
      <c-form-check>
        <input cFormCheckInput (click)="filter($event.target)" type="radio" name="fileTypeId" value="6" />
        <label cFormCheckLabel>الاعمال الخشبية</label>
      </c-form-check>
    </c-col> -->
  </c-row>
</c-card>
<c-col xs="12">
  <c-card class="mb-4">
    <c-card-body>
      <table [striped]="true" cTable>
        <thead>
        <tr>
          <th scope="col">العميل</th>
          <th scope="col">الموظف</th>
          <th scope="col">التاريخ</th>
          <th scope="col">النوع</th>
          <th scope="col">مرفقات</th>
          <th scope="col">الحالة النهائية</th>
          <th scope="col">محضر الاستلام</th>
          <th scope="col">النواقص</th>
          <th scope="col">تعديل</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of allQuotations">
          <td>{{item?.client.clientName}}</td>
          <td>{{item?.createdByUserName}}</td>
          <td>{{item.creationDate | date}}</td>
          <td>{{item?.fileTypeName}}</td>
          <td>
            <button (click)="clientFileId = item?.clientFileId;GetAllClientFileAttachment()" (click)="attachmentsvisible=true" class="btn btn-light m-0 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 11a.5.5 0 0 0 .5-.5V6.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 .5.5z"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
              </svg>
            </button>
          </td>
          <td>
            <button (click)="clientFileId = item?.clientFileId;GetLoadFinalStatusList();GetAllFinalStatusClientFile()" (click)="statusvisible=true" class="btn btn-light m-0 p-2">
              {{item.finalStatusName? item.finalStatusName : 'لم يتم اضافة حالة'}}
            </button>
          </td>
          <td>
            <button (click)="clientFileId = item?.clientFileId;GetAllClientNotice(item)" (click)="requestvisible=true" class="btn btn-light m-0 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 11a.5.5 0 0 0 .5-.5V6.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 .5.5z"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
              </svg>
            </button>
          </td>
          <td>
            <button routerLink="ClientShortage" [queryParams]="{clientFileId: item?.clientFileId, fileTypeId: item?.fileTypeId, }" class="btn btn-light m-0 p-2">
              <i class="bx bx-archive"></i>
            </button>
          </td>
          <td>
            <button routerLink="add" [queryParams]="{clientFileId: item?.clientFileId, fileTypeId: item?.fileTypeId, }"  [cModalToggle]="modalXl4.id" class="btn btn-light m-0 p-2">
              <i class='bx bx-edit'></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <!-- <ngb-pagination [collectionSize]="120" (pageChange)="filter($event)" [maxSize]="5" [rotate]="true"
        [boundaryLinks]="true"></ngb-pagination> -->
    </c-card-body>
  </c-card>
</c-col>


<!-- AddClientFileAttachment -->




<!-- AddClientFileFollowUp -->
<c-modal #modalXl2 [visible]="followsVisible" id="modalXl2" size="xl">
  <c-modal-header>
    <h5 cModalTitle>المتابعات</h5>
    <button class="mx-0" (click)="followsVisible=false" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="card">
      <div class="card-header">
        <h5>اضافة</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label> الصورة </label>
            <input type="file" accept="image/*" (change)="onImageSelected($event)"
                   class="form-control">
            <div class="row" *ngIf="viewImg[0]">
              <div class="col-2 card-image p-0 m-2 position-relative">
                <img  height="200" class="p-0 w-100" title="images" alt="imagesEdit" [src]="viewImg[0]" />
              </div>
            </div>
          </div>
          <div class="col-12">
            <label>ملاحظات</label>
            <textarea type="text"  class="form-control" name="Note" id="Note" [(ngModel)]="Note"></textarea>
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <button class="btn btn-success" [cModalToggle]="modalXl2.id" (click)="AddClientFileFollowUp()">
            اضافة
          </button>
        </div>
      </div>
    </div>
    <div class="card my-4">
      <div class="card-header">
        عرض المتابعات
      </div>
      <div class="card-body">
        <div class="row">
          <div class="card col-12 my-2">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 mb-3" *ngFor="let item of allClientFileFollowUp">
                  <div class="row" *ngIf="item">
                    <div class="col-3 card-image p-0 m-2 position-relative">
                      <img  height="200" class="p-0 w-100" title="images" alt="imagesEdit" [src]="Domain+item.attachmentPath" />
                      <p>{{item.statusName}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </c-modal-body>
</c-modal>
<c-modal #modalXl [visible]="attachmentsvisible" id="modalXl" size="xl">
  <c-modal-header>
    <h5 cModalTitle>المرفقات</h5>
    <button class="mx-0" (click)="attachmentsvisible=false" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="card">
      <div class="card-header">
        <h5>اضافة</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label>تصنيف الملف</label>
            <ng-select [items]="statusCategoryById?.statuses"
                       bindLabel="defaultDesc"
                       bindValue="statusId"
                       placeholder="اختر التصنيف"
                       [(ngModel)]="statusId">
            </ng-select>
          </div>
          <div class="col-md-6 mb-3">
            <label> الصورة </label>
            <input type="file" accept="image/*" (change)="onImageSelected($event)"
                   class="form-control">
            <div class="row" *ngIf="viewImg[0]">
              <div class="col-2 card-image p-0 m-2 position-relative">
                <img  height="200" class="p-0 w-100" title="images" alt="imagesEdit" [src]="viewImg[0]" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <button  class="btn btn-success" (click)="AddClientFileAttachment()">
            اضافة
          </button>
        </div>
      </div>
    </div>
    <div class="card my-4">
      <div class="card-header">
        عرض المرفقات
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <label>تصنيف الملف</label>
            <ng-select [items]="statusCategoryById?.statuses"
                       bindLabel="defaultDesc"
                       bindValue="statusId"
                       placeholder="اختر التصنيف"
                       [(ngModel)]="statusId"
                       (change)="GetAllClientFileAttachment()">
            </ng-select>
          </div>
          <div class="card col-12 my-2">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 mb-3" *ngFor="let item of allClientFileAttachment">
                  <div class="row" *ngIf="item">
                    <div class="col-3 card-image p-0 m-2 position-relative">
                      <img  height="200" class="p-0 w-100" title="images" alt="imagesEdit" [src]="Domain+item.attachmentPath" />
                      <p>{{item.statusName}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </c-modal-body>
</c-modal>
<c-modal #modalXl3 [visible]="statusvisible" id="modalXl3" size="xl">
  <c-modal-header>
    <h5 cModalTitle>الحالة النهائية</h5>
    <button class="mx-0" (click)="statusvisible=false" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="card">
      <div class="card-header">
        <h5>اضافة</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <label>قائمة الحالات</label>
            <ng-select [items]="LoadFinalStatusList"
                       bindLabel="defaultDesc"
                       bindValue="statusId"
                       placeholder="اختر التصنيف"
                       [(ngModel)]="statusId">
            </ng-select>
          </div>
          <div class="col-12">
            <label>ملاحظة</label>
            <textarea type="text"  class="form-control" name="Note" id="Note" [(ngModel)]="Note"></textarea>
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <button  class="btn btn-success" (click)="AddFinalStatusList()">
            اضافة
          </button>
        </div>
      </div>
    </div>
    <div class="card my-4">
      <div class="card-header">
        عرض الحالات النهائية
      </div>
      <div class="card-body">
        <div class="row">
          <c-col xs="12">
            <c-card class="mb-4">
              <c-card-body>
                <table [striped]="true" cTable>
                  <thead>
                    <tr>
                      <th scope="col">الحالة</th>
                      <th scope="col">ملاحظات</th>
                      <th scope="col">تاريخ التعديل</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of AllFinalStatusClientFile">
                    <td>{{item.toValue}}</td>
                    <td>{{item.notes}}</td>
                    <td>{{item.creationDate | date}}</td>
                    <td>{{item?.fileTypeName}}</td>
                  </tr>
                  </tbody>
                </table>
              </c-card-body>
            </c-card>
          </c-col>
        </div>
      </div>
    </div>
  </c-modal-body>
</c-modal>
<c-modal #modalXl4 [visible]="requestvisible" id="modalXl4" size="xl">
  <c-modal-header>
    <h5 cModalTitle>محضر الاستلام</h5>
    <button class="mx-0" (click)="requestvisible=false" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div [formGroup]="AddReceiveNotice">
      <c-row >
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <h5>الزبون</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12" style="opacity: 90%; pointer-events: none">
                  <label>الاسم</label>
                  <input aria-label="default input example" cFormControl value="{{clientData?.clientName}}"
                          type="text"/>
                </div>
                <div class="col-12" style="opacity: 90%; pointer-events: none">
                  <label>الهاتف</label>
                  <input aria-label="default input example" cFormControl value="{{clientData?.mobile}}"
                          type="text" />
                </div>
                <div class="col-12" style="opacity: 90%; pointer-events: none">
                  <label>العنوان</label>
                  <input aria-label="default input example" cFormControl value="{{clientData?.email}}"
                          type="text" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 mb-3">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <h5>معلومات</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <label>مسؤول المبيعات</label>
                  <ng-select [items]="allUsersData"
                             bindLabel="userName"
                             bindValue="id"
                             placeholder="اختر مسؤول المبيعات"
                             formControlName="salesId">
                  </ng-select>
                </div>
                <div class="col-6">
                  <label>تاريخ فتح الملف</label>
                  <input aria-label="default input example" cFormControl
                         type="date" formControlName="fileDate"/>
                </div>
                <div class="col-12">
                  <label>الموقع</label>
                  <input aria-label="default input example" cFormControl
                         type="text" formControlName="kitchenLocation"/>
                </div>
                <div class="col-6">
                  <label>نوع المطبخ</label>
                  <ng-select [items]="statusCategoryById2?.statuses"
                             bindLabel="description"
                             bindValue="statusId"
                             placeholder="اختر نوع المطبخ"
                             formControlName="kitchenModelId">
                  </ng-select>
                </div>
                <div class="col-6">
                  <label>مسئول القياس</label>
                  <ng-select [items]="allUsersData"
                             bindLabel="userName"
                             (change)="setMeasurement()"
                             bindValue="id"
                             placeholder="اختر مسئول القياس"
                             formControlName="measurmentId">
                  </ng-select>
                </div>
                <div class="col-6">
                  <label>تاريخ القياس</label>
                  <input aria-label="default input example" cFormControl
                         type="date" formControlName="measurmentDate"/>
                </div>
                <div class="col-6">
                  <label>مسئول التصميم</label>
                  <ng-select [items]="allUsersData"
                             bindLabel="userName"
                             bindValue="id"
                             placeholder="اختر مسئول التصميم"
                             formControlName="designerId">
                  </ng-select>
                </div>
                <div class="col-6">
                  <label>تاريخ التصميم</label>
                  <input aria-label="default input example" cFormControl
                         type="date" formControlName="designerDate"/>
                </div>
                <div class="col-6">
                  <label>موعد القياس</label>
                  <div class="d-flex mt-1">
<!--                    <div class="d-flex">-->
<!--                      <label>الدقيقة</label>-->
<!--                      <input aria-label="default input example" cFormControl-->
<!--                             type="number" formControlName="actionByHour"/>-->
<!--                    </div>-->
<div class="d-flex col-6">
  <label>الساعة</label>
  <input aria-label="default input example" cFormControl
         type="number" formControlName="actionByHour"/>
</div>
<div class="col-6">
  <ng-select [items]="AmOrPm"
         bindLabel="name"
         bindValue="id"
         formControlName="AmORPm">
</ng-select>
</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </c-row>
      <div class="card my-4">
        <div class="card-header">
          الأجهزة الموجودة ومتطلبات العميل
        </div>
        <div class="card-body">
          <div class="row">
            <c-col xs="12">
              <div class="row mb-4 ms-2">
                <!-- <label class="col-2">الأجهزة الموجودة</label>
                <ng-select [items]="DevicesData"
                class="col-4"
                bindLabel="defaultDesc"
                bindValue="statusId"
                placeholder="اختر الجهاز"
                formControlName="selectedDevice">
     </ng-select>
                <div class="col-2 text-center">
                  <button class="btn btn-success" (click)="AddDevice()">
                    اضافة
                  </button>
                </div> -->
                <div class="card-header m-0">
                  <h5>الاجهزه</h5>
              </div >
                <div  class="col-2" *ngFor="let option of DevicesData let i= index ">
                  <input type="checkbox" #checkbox name="selectedDevice"   [checked]="isSelected(option.statusId)"  formControlName="selectedDevice" [value]="option.statusId" (change)="selectOption($event, option)" (change)="selectOption($event, option)">
                  {{ option.defaultDesc }}
                </div>
              </div>

            </c-col>
            <c-col xs="12">
              <label>متطلبات العميل</label>
              <textarea formControlName="clientNeed"  class="form-control" rows="3">
              </textarea>
            </c-col>
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-4">
        <button class="btn btn-success"  (click)="AddNotice()">
          اضافة
        </button>
      </div>
    </div>
  </c-modal-body>
</c-modal>
