<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <!-- <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <a cNavLink routerLink="/dashboard" routerLinkActive="active">
          Dashboard
        </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/users" routerLinkActive="active">Users</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/settings" routerLinkActive="active">
          Settings
        </a>
      </c-nav-item>
    </c-header-nav> -->

    <!-- <c-header-nav class="d-none d-lg-flex">
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilBell" size="lg"></svg>
        </a>
      </c-nav-item>
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilList" size="lg"></svg>
        </a>
      </c-nav-item>
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilEnvelopeOpen" size="lg"></svg>
        </a>
      </c-nav-item>
    </c-header-nav> -->
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
      <ng-container *ngTemplateOutlet="notificationDropdown"></ng-container>
    </c-header-nav>

  </c-container>
  <!-- <c-header-divider></c-header-divider> -->
  <!-- <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container> -->
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="./assets/img/avatars/8.jpg"
        status="success"
      >
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <!-- <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Account</h6>
      </li>-->
      <!-- <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilBell"></svg>
          Updates
          <c-badge class="ms-2 float-end" color="info">
            42
          </c-badge>
        </a>
      </li> -->
      <li>
        <a routerLink="/users" cDropdownItem>
          <h6>المستخدمين</h6>
        </a>
      </li>
      <li>
        <a href="#" [cModalToggle]="modalXl.id" preventBackdrop cDropdownItem >
          <h6>تغيير كلمة السر</h6>
        </a>
      </li>
      <li>
        <a href="#" [cModalToggle]="modalXl2.id" preventBackdrop cDropdownItem >
          <h6>الصلاحيات</h6>
        </a>
      </li>
      <!--<li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilEnvelopeOpen"></svg>
          Messages
          <c-badge class="ms-2 float-end" color="success">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilTask"></svg>
          Tasks
          <c-badge class="ms-2 float-end" color="danger">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name='cilCommentSquare'></svg>
          Comments
          <c-badge class="ms-auto" color="warning">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Settings</h6>
      </li>
      <li></li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Settings
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilCreditCard"></svg>
          Payments
          <c-badge class="ms-2 float-end" color="secondary">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilFile"></svg>
          Projects
          <c-badge class="ms-2 float-end" color="primary">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <hr cDropdownDivider/>
      </li> -->
      <li (click)="logOut()" class="my-2" style="cursor: pointer;">
        <a cDropdownItem>
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          تسجيل الخروج
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>
<ng-template #notificationDropdown>
  <c-dropdown alignment="center" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"

        status="success"
      >
      </c-avatar>
      <svg cIcon name="cil-bell" size="xl" title="bell"></svg>
    </button>
    <ul cDropdownMenu style="width: 250px; " class="pt-0 pr-5">
      <li style="border: 1px solid black; cursor: default;" *ngFor="let notification of notifications">
        <div (click)="readNotification(notification.id)" cDropdownItem class="notification-area">
          <!-- *ngFor="let notification of notifications" -->
           <div  class="notification">
            <div class="notification-content">
              <p class="notification-title" style="width:200px;
              word-wrap: break-word;
              word-break: break-word;
              white-space: normal;" > {{notification.notes}} </p>
            </div>
          </div>
         </div>
      </li>
    </ul>
  </c-dropdown>
</ng-template>
<c-modal #modalXl id="modalXl"  size="sm">
  <c-modal-header>
    <h5 cModalTitle>تغيير كلمة السر</h5>
    <button class="mx-0" [cModalToggle]="modalXl.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="card">
      <div class="card-header">
        <h5>اضافة</h5>
      </div>
      <form [formGroup]="changePassForm">
      <div class="card-body">
        <div class="row">

          <div class="col-12">
            <label>Old Password</label>
            <input aria-label="default input example" cFormControl
                  formControlName="oldPassword" type="text" />
          </div>
          <div class="col-12">
            <label>New Password</label>
            <input aria-label="default input example" cFormControl
            formControlName="newPassword" type="text" />
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <button [disabled]="changePassForm.invalid" (click)="changePassword()" class="btn btn-success" >
            save
          </button>
        </div>
      </div>
    </form>
    </div>

  </c-modal-body>
</c-modal>

<c-modal #modalXl2 id="modalXl2"  size="lg">
  <c-modal-header>
    <h5 cModalTitle>الصلاحيات</h5>
    <button class="mx-0" [cModalToggle]="modalXl2.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="card">
      <div class="card-header">
        <h5>اضافة</h5>
      </div>
      <form [formGroup]="powersForm">
      <div class="card-body">
        <div class="row">

          <div class="col-12">

              <label> نوع المستخدم</label>
              <ng-select [items]="allUsersData"
                         bindLabel="name"
                         bindValue="id"
                         placeholder="اختر نوع المستخدم"
                         formControlName="UserId"
                         (ngModelChange)="getPowersForRole()">
              </ng-select>

          </div>
          <div class="col-12 row">
            <div class="card-header m-0">
              <h5>الصلاحيات</h5>
          </div >
            <div  class="col-4" *ngFor="let option of Powers let i= index ">
              <input type="checkbox" #checkbox name="selectedPower"   [checked]="isSelected(option.statusId)"  formControlName="selectedPower" [value]="option.statusId" (change)="selectOption($event, option)" (change)="selectOption($event, option)">
              {{ option.defaultDesc }}
            </div>
          </div>
          <div class="col-12 row">
            <div class="card-header m-0">
              <h5>الشاشات والازرار</h5>
          </div >
          <!-- [checked]="isSelectedPage(option.id)" -->
          <div class="col-6" *ngFor="let option of Permissions let i = index">
            <input type="checkbox" #checkbox name="selectedPagePower" [checked]="isSelectedPage(option.id)"  formControlName="selectedPagePower" [value]="option.id" (change)="selectpageOption($event, option)">
            {{ option.description }}
            <!-- [checked]="isSelectedbutton(pageOrButton.id)" -->
            <div *ngIf="isSelectedPage(option.id)" >
                <div  *ngFor="let pageOrButton of option.pagesAndButtons; let j = index">
                  <input type="checkbox" #checkbox name="selectedPagePower" [checked]="isSelectedPage(pageOrButton.id)"  formControlName="selectedPagePower" [value]="pageOrButton.id" (change)="selectpageOption($event, pageOrButton)">
                  {{ pageOrButton.description }}
                </div>
              </div>
        </div>
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <button (click)="AddPowers()" class="btn btn-success" >
            save
          </button>
        </div>
      </div>
    </form>
    </div>

  </c-modal-body>
</c-modal>

