// Here you can add other styles

.btn-success{
    background-color: #032D3D;
    color: #fff !important;
    box-shadow: 0 0 6px #032D3D !important;
    outline: none !important;
    border: none;
}
.form-check .form-check-input{
    float: right !important;
}