<c-card class="mb-4">
  <c-card-header class="d-flex justify-content-between align-items-center py-4">
    <strong> اضافة طلبات الانتاج</strong>
    <button class="btn btn-success" (click)="AddProductionRequests()">
      {{clientFileId? 'تعديل' : 'إضافة'}}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
      </svg>
    </button>
    <button class="btn btn-success" routerLink="/production-requests">رجوع</button>

  </c-card-header>
</c-card>
<c-card class="mb-4 py-4">
  <form [formGroup]="AddProductionRequestsForm">
    <!--        <c-row class="p-2">-->
    <!--            <c-col *ngFor="let type of clientFileTypes">-->
    <!--                <c-form-check>-->
    <!--                    <input [id]="type.id" [checked]="+fileTypeId === +type.id" cFormCheckInput-->
    <!--                           formControlName="fileTypeId" type="radio" name="fileTypeId" value="{{type.id}}" />-->
    <!--                    <label [for]="type.id" cFormCheckLabel>{{type.name}}</label>-->
    <!--                </c-form-check>-->
    <!--            </c-col>-->
    <!--        </c-row>-->
    <c-col class="mx-2 my-4" *ngIf="loadPriceOffer">
      <div class="card">
        <div class="card-header m-0">
          <h5>الزبون</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <label>الزبون</label>
              <ng-select [items]="allClients"
                         bindLabel="clientName"
                         (change)="setClient($event)"
                         bindValue="clientId"
                         placeholder="اختر الزبون"
                         formControlName="clientId">
              </ng-select>
            </div>
            <div class="col-4">
              <label>رقم الجوال</label>
              <input readonly aria-label="default input example" cFormControl
                     formControlName="phoneNumber" type="tel"/>
            </div>
            <div class="col-4">
              <label>تاريخ الانتاج</label>
              <input aria-label="default input example" cFormControl readonly
                     formControlName="contractDate" type="date"/>
            </div>
            <div class="col-12 mt-2">
              <label>العنوان</label>
              <textarea readonly aria-label="default input example" cFormControl
                        formControlName="address" rows="3">
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </c-col>
    <c-col class="mx-2 my-4" *ngIf="loadPriceOffer">
      <div class="card">
        <div class="card-header m-0">
          <h5>المطبخ</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <ng-container formArrayName="items">
              <ng-container *ngFor="let item of itemsFormArray.controls;let i = index">
                <ng-container [formGroupName]="i">
                  <div class="col-md-4 mb-3" *ngIf="loadPriceOfferList[i]?.defaultDesc!='Color'" >
                    <label>{{loadPriceOfferList[i]?.defaultDesc}}</label>
                    <ng-select [items]="loadPriceOffer[loadPriceOfferList[i]?.key]?.statuses"
                               bindLabel="description"
                               bindValue="statusId"
                               placeholder="{{loadPriceOfferList[i]?.defaultDesc}}"
                               formControlName="itemId">
                    </ng-select>
                  </div>
                    <div class="col-md-4 mb-3" *ngIf="loadPriceOfferList[i]?.defaultDesc=='Color'" >
                      <label>{{loadPriceOfferList[i]?.defaultDesc}}</label>
                      <input type="text" class="form-control" formControlName="itemId" name="color">
                    </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </c-col>
    <c-row class="px-2">
      <ng-container formGroupName="items1" *ngIf="loadPriceOffer">
        <div class="col-md-12 mb-3">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <h5>الاكسسوارات</h5>
              <button class="btn btn-success" (click)="addAccessoriesItem()">
                اضافة
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                     viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
              </button>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <label style="visibility: hidden;">.</label>
                  <h5>الاكسسوارات</h5>
                </div>
                <div class="col-5">
                  <label style="visibility: hidden;">.</label>
                  <ng-select [items]="loadPriceOffer['accessories']?.statuses?.statuses"
                             bindLabel="description"
                             bindValue="statusId"
                             placeholder="اختر الاضافات"
                             formControlName="itemId">
                  </ng-select>
                </div>

                <div class="col-5">
                  <label>العدد</label>
                  <input aria-label="default input example" cFormControl
                         formControlName="itemCount" type="number"/>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="row">
                    <div class="col-12">
                      <label>الملاحظة</label>
                      <textarea formControlName="notes" id="" cols="30"
                                rows="3" class="form-control">
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <table class="w-100">
                    <table [striped]="true" cTable>
                      <thead>
                      <tr>
                        <th scope="col">الوحدة</th>
                        <th scope="col">العدد</th>
                        <th scope="col">الملاحظات</th>
                        <th scope="col">حذف</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let units of myArray; index as i">
                        <td>{{units.unit}}</td>
                        <td>{{units.itemCount}}</td>
                        <td>{{units.notes}}</td>
                        <td>
                          <button (click)="deleteAccessories(i)" cButton class="btn btn-danger m-0 p-2">
                            <svg cIcon name="cil-trash"></svg>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </c-row>
  </form>
</c-card>
